<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download</title>
    <link rel="stylesheet" href="../style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body onload="loadLink()">
    <div class="conteiner">
        <form action="/getDownload" method="POST">
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-success btn-lg mt-2">Download</button>
            </div>
            <input name='nameImg' id="imageName" value="" style="display: none;">
            <input name='compress' id="compress" value="" style="display: none;">
        </form>
    </div>
    <script src="./download.js"></script>
</body>
</html>